EXPO_PUBLIC_POCKETBASE_URL=http://127.0.0.1:8090
EXPO_PUBLIC_SPORTMONKS_ENABLED=false
EXPO_PUBLIC_SPORTMONKS_BASE_URL=https://api.sportmonks.com/v3/football
EXPO_PUBLIC_SPORTMONKS_TOKEN=WKIFUJuGxj7lkKShsxdqYPyA9TXAVP69qGCpcQEr3ZDyF8K9V92idCIFqjI5

